<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hora.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>17</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AE3E9B418A4D3138A69B6DC4E2CB7778B63E58CA</string>
				<key>dateExpires</key>
				<string>07/09/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE3E9B418A4D3138A69B6DC4E2CB7778B63E58CA</string>
						<key>dateExpires</key>
						<string>07/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TG8MHKJ9C</string>
						<key>name</key>
						<string>Marco Septian Butar</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE3E9B418A4D3138A69B6DC4E2CB7778B63E58CA</string>
						<key>dateExpires</key>
						<string>07/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TG8MHKJ9C</string>
						<key>name</key>
						<string>Marco Septian Butar</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE3E9B418A4D3138A69B6DC4E2CB7778B63E58CA</string>
						<key>dateExpires</key>
						<string>07/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TG8MHKJ9C</string>
						<key>name</key>
						<string>Marco Septian Butar</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE3E9B418A4D3138A69B6DC4E2CB7778B63E58CA</string>
						<key>dateExpires</key>
						<string>07/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TG8MHKJ9C</string>
						<key>name</key>
						<string>Marco Septian Butar</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE3E9B418A4D3138A69B6DC4E2CB7778B63E58CA</string>
						<key>dateExpires</key>
						<string>07/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TG8MHKJ9C</string>
						<key>name</key>
						<string>Marco Septian Butar</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE3E9B418A4D3138A69B6DC4E2CB7778B63E58CA</string>
						<key>dateExpires</key>
						<string>07/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TG8MHKJ9C</string>
						<key>name</key>
						<string>Marco Septian Butar</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE3E9B418A4D3138A69B6DC4E2CB7778B63E58CA</string>
						<key>dateExpires</key>
						<string>07/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>camera_avfoundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TG8MHKJ9C</string>
						<key>name</key>
						<string>Marco Septian Butar</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE3E9B418A4D3138A69B6DC4E2CB7778B63E58CA</string>
						<key>dateExpires</key>
						<string>07/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>downloads_path_provider_28.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TG8MHKJ9C</string>
						<key>name</key>
						<string>Marco Septian Butar</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE3E9B418A4D3138A69B6DC4E2CB7778B63E58CA</string>
						<key>dateExpires</key>
						<string>07/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TG8MHKJ9C</string>
						<key>name</key>
						<string>Marco Septian Butar</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE3E9B418A4D3138A69B6DC4E2CB7778B63E58CA</string>
						<key>dateExpires</key>
						<string>07/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TG8MHKJ9C</string>
						<key>name</key>
						<string>Marco Septian Butar</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE3E9B418A4D3138A69B6DC4E2CB7778B63E58CA</string>
						<key>dateExpires</key>
						<string>07/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>gallery_saver.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TG8MHKJ9C</string>
						<key>name</key>
						<string>Marco Septian Butar</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE3E9B418A4D3138A69B6DC4E2CB7778B63E58CA</string>
						<key>dateExpires</key>
						<string>07/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geocoding_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TG8MHKJ9C</string>
						<key>name</key>
						<string>Marco Septian Butar</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE3E9B418A4D3138A69B6DC4E2CB7778B63E58CA</string>
						<key>dateExpires</key>
						<string>07/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TG8MHKJ9C</string>
						<key>name</key>
						<string>Marco Septian Butar</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE3E9B418A4D3138A69B6DC4E2CB7778B63E58CA</string>
						<key>dateExpires</key>
						<string>07/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_gallery_saver.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TG8MHKJ9C</string>
						<key>name</key>
						<string>Marco Septian Butar</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE3E9B418A4D3138A69B6DC4E2CB7778B63E58CA</string>
						<key>dateExpires</key>
						<string>07/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TG8MHKJ9C</string>
						<key>name</key>
						<string>Marco Septian Butar</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE3E9B418A4D3138A69B6DC4E2CB7778B63E58CA</string>
						<key>dateExpires</key>
						<string>07/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>open_settings.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TG8MHKJ9C</string>
						<key>name</key>
						<string>Marco Septian Butar</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE3E9B418A4D3138A69B6DC4E2CB7778B63E58CA</string>
						<key>dateExpires</key>
						<string>07/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TG8MHKJ9C</string>
						<key>name</key>
						<string>Marco Septian Butar</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE3E9B418A4D3138A69B6DC4E2CB7778B63E58CA</string>
						<key>dateExpires</key>
						<string>07/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TG8MHKJ9C</string>
						<key>name</key>
						<string>Marco Septian Butar</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE3E9B418A4D3138A69B6DC4E2CB7778B63E58CA</string>
						<key>dateExpires</key>
						<string>07/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TG8MHKJ9C</string>
						<key>name</key>
						<string>Marco Septian Butar</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE3E9B418A4D3138A69B6DC4E2CB7778B63E58CA</string>
						<key>dateExpires</key>
						<string>07/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8TG8MHKJ9C</string>
						<key>name</key>
						<string>Marco Septian Butar</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8TG8MHKJ9C.com.hora.app</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>8TG8MHKJ9C</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c85deb98-3875-45f2-ac21-36cd40179e75</string>
				<key>dateExpires</key>
				<string>07/09/24</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.hora.app</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8TG8MHKJ9C</string>
				<key>name</key>
				<string>Marco Septian Butar</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
